[2017-12-17 18:57] xorbettino opened #1 "Android 4.4.4"
On startup doesn't show qr code, it ask to use a browser.

[2017-12-17 19:27] 92lleo commented on #1
Hi, thanks for reporting this.
I could reproduce this with an 4.4.4 device. Will check.
![device-2017-12-17-202416](https://user-images.githubusercontent.com/12110344/34082976-a807037c-e368-11e7-8b48-9e9bdeae8cda.png)

[2017-12-17 19:58] 92lleo commented on #1
It looks like the webview shipped with Kitkat (4.4.4.) does not work the way it should to support whatsapp web. The problem is, that the webview was not shipped as an apk in 4.4.4 but was baked into the system, so it cannot be updated. I'll look for other ways to solve this, but it could take a while

[2017-12-17 20:23] xorbettino commented on #1
Thanx for your work,  I'll wait for a fix.

[2017-12-20 16:29] 92lleo opened #2 "Scrolling chats does not work on android 6 phones"
On android 6 phones, the chat view on the left cannot be scrolled

[2017-12-20 20:18] 92lleo commented on #1
Looks like there is now way getting it to work on Kitkat (4.4(.4)) devices. The next update disables the possibility to install on devices lower than 5.0 (Lollipop)
I'm sorry i couldn't fix this. I'll close this now but continue to search for a fix. Should I find something I will update this issue.

[2017-12-20 20:18] #1 closed

[2017-12-20 20:20] 92lleo commented on #2
Fixed in d289d5f, the app will promt for installing webview if missing.

[2017-12-20 20:20] #2 closed

[2018-01-03 22:04] SOI-7 opened #3 "Chat pictures minimize when opening them"
When I tap on a picture in a conversation, instead of displaying in full size it shrinks becoming quite difficult to see. Same happens for videos

[2018-01-11 21:45] 92lleo commented on #3
I'll try to fix it, will post progress here

[2018-02-17 04:50] R2D221 opened #4 "Possible to get notifications?"
Would it be possible to receive notifications while the app is in the background? I know the web app issues web notifications, so maybe it could be possible to intercept those.

[2018-02-17 17:44] 92lleo commented on #4
Hi,
using the web notifications api is not possible as the webview doesn't implement it. [TSGames ](https://github.com/TSGames/WhatsappWebToGo)managed to get notifications from reading the ui, I'll merge it for a future update. The problem now is that you'll only get notified if WAWeb is running in backgroud. If it gets killed by your phone (there is no background task yet), you will not get notif

[2018-05-27 16:37] marcossit-dev opened #5 "Solution?"
Hello good afternoon what was the solution to the problem that redirected to download whatsapp app and did not leave the QR code?

[2018-06-08 17:18] ArunVicky001 opened #6 "App dosen't load QR Code screen"
Hi,
I've checked your source code it doesn't work, first time only it showing the QR code screen then always it showing the blank screen. After debugging the code I found that second time its loading https://www.whatsapp.com instead of https://web.whatsapp.com. Please fix it as soon as possible.

Thanks

[2018-06-11 07:15] 92lleo commented on #6
Hi, make sure you have version 1.0.1 installed. The code here is not up to date yet.

[2018-06-11 09:14] ArunVicky001 commented on #6
Could you please update the source or tell the way to fix the issue

Thanks.

[2018-09-02 00:06] LilyIkhsan commented on #6
Hi, i can't find whatsapp web to go in the play store anymore :-(

Please give me the download link

[2018-09-03 05:55] 92lleo commented on #6
Hi @LilyIkhsan
The app got pulled from play store, you can find releases over at the [release tab ](https://github.com/92lleo/WhatsappWebToGo/releases)

@ArunVicky001
Sources have been updated

[2018-09-03 05:55] #6 closed

[2018-12-08 06:26] kokoarieef opened #7 "Can't login or does not appear page"
Today app does not appear page, why???

[2018-12-08 22:20] GTD4life commented on #7
Same here :-(

[2018-12-08 22:29] 92lleo commented on #7
Hi all. I got several messages about the app not working anymore. It's not working on my phone either. I currently don't have a solution at hand, i hope i have the time to look into it next week

[2018-12-09 00:36] kokoarieef commented on #7
Okat, thanks 👌

On Sun, Dec 9, 2018, 05:29 Leonhard Künzler <notifications@github.com wrote:

[2018-12-09 15:36] lisianeschwantes commented on #6
Olá Leonard, você avisará  quando o app estiver funcionando?  Obrigada!  Att, Lisiane

[2018-12-10 18:05] lalaowais commented on #7
Hi,
I've checked your source code it doesn't work, first time only it showing the QR code screen then always it showing the blank screen.

[2018-12-10 18:08] lalaowais commented on #7
Hi, i can't find whatsapp web to go in the play store anymore also. When ur gong to fix this issue and second ap fixing do we have to rescan qe code or it will work.

[2018-12-12 01:05] arradiaman commented on #7
Hi, I want to ask why Whatsapp Web To Go not load the web anymore :'( . please fix it. i really need that support. TQ

[2018-12-12 01:06] arradiaman commented on #7
Hope you can fix it..

[2018-12-18 06:32] lalaowais commented on #7
Still its not working. Any chance of working again or any proposed time.
Waiting since last 2 weeks

On Thu, 13 Dec 2018, 12:26 AM GTD4life <notifications@github.com wrote:

[2018-12-21 21:08] 92lleo commented on #7
I couldn't find an easy fix until now. I'll keep working on it.

[2018-12-22 06:12] lalaowais commented on #7
Thankyou so much. Please try to fix in that way that pervious QR scan
phones remain attached. We don't have to rescan.

On Sat, 22 Dec 2018, 2:08 AM Leonhard Künzler <notifications@github.com
wrote:

[2018-12-22 06:35] kokoarieef commented on #7
Wait for update, last on WhatsApp web gel last update, bring future PiP on chat

[2018-12-23 06:11] Come2Me commented on #7
Thx for your help. I think there is an update bs WhatsApp done in the past

[2019-01-01 16:51] 92lleo commented on #7
Tablet messenger is using another library than the android build-in webview to show web content. I already have this working for this app, but it would increase the app size from ~2Mb to >50Mb.
I'll try to find another way, otherwise I'll go with the external library and bigger apk size.

[2019-01-02 11:23] lisianeschwantes commented on #7
Hello! Thank you! I'm waiting for some news. Your app is the best of them all!
When you complete the tests, or have a new update, will you let me know?

G reetings,

Lisiane

De: "Leonhard Künzler" <notifications@github.com>
Para: "92lleo/WhatsappWebToGo" <WhatsappWebToGo@noreply.github.com>
Cc: "lisianeschwantes" <lisiane.schwantes@sinos.net>, "Comment" <comment@noreply.github.com>
Enviadas: Terç

[2019-01-02 20:31] 92lleo commented on #7
Hi all,
please check [1.1.0_pre](https://github.com/92lleo/WhatsappWebToGo/releases/tag/1.1.0 ) and tell me if it's working for you.

[2019-01-02 23:50] 92lleo commented on #7
great, so this is closed.
I'll finetune some stuff and upload the source later on

[2019-01-02 23:50] #7 closed

[2019-01-03 04:13] lalaowais commented on #7
Aoa dear i m showing this masage. Plz help

On Thu, 3 Jan 2019, 4:24 AM arradiaman <notifications@github.com wrote:

[2019-01-03 04:35] lalaowais commented on #7
I have tried it on another mobile but the result was same

On Thu, 3 Jan 2019, 9:24 AM Owais Chabbora <mrmianwali2709@gmail.com wrote:

[2019-01-03 05:19] kokoarieef commented on #7
Thanks, work fine

On Thu, Jan 3, 2019, 11:35 lalaowais <notifications@github.com wrote:

[2019-01-03 05:38] lalaowais commented on #7
Its still not installing on hawai p8 lite and sumsang j7

On Thu, 3 Jan 2019, 10:19 AM kokoarieef <notifications@github.com wrote:

[2019-01-03 05:41] lalaowais commented on #7
Anyone plz help regarding this

[2019-01-03 05:42] lalaowais commented on #7
Anyone plz help regarding this

[2019-01-03 05:43] lalaowais commented on #7
When it will be available on play store so i can update this from.play store directly.. i need it urgently.

[2019-01-03 13:01] lisianeschwantes commented on #7
Hello, did not install in Asus zenfone 4. Thank you Leo for your commitment, I am waiting for a solution.

Thankful,

Lisiane

De: "Leonhard Künzler" <notifications@github.com>
Para: "92lleo" <WhatsappWebToGo@noreply.github.com>
Cc: "lisianeschwantes" <lisiane.schwantes@sinos.net>, "Comment" <comment@noreply.github.com>
Enviadas: Quarta-feira, 2 de janeiro de 2019 18:31:49
Assunto: Re: [92lleo/Wha

[2019-01-03 13:03] Come2Me commented on #7
You have to uninstall the old version first

[2019-01-03 13:35] lalaowais commented on #7
If we will uninstall the old version then we have to again scan the code
and i donot have the phone which is already connected by the what ap web so
what should we do now.second i have use apk editor and lucky patcher but
its no still work.kindly provid it on play store so we can updated the pre
installed whatsapp web to go 1.0.1
Regards

On Thu, 3 Jan 2019, 6:25 PM lisianeschwantes <notifications

[2019-01-03 18:30] 92lleo commented on #7
- **PlayStore**: Updating via Play Store is not possible as Google removed the app as it's violating Play Store terms of use
- **Installation problem:** Probably i messed something up with the version numbers. Best is to uninstall the current version and install 1.1.0 then. If you need to keep your app data, make a backup or wait for the next release.

[2019-01-03 18:57] lalaowais commented on #7
Thankyou so much for u worth response i will wait for the next release.

On Thu, 3 Jan 2019, 11:30 PM Leonhard Künzler <notifications@github.com
wrote:

[2019-01-06 03:03] edtim commented on #7
Samsung Galaxy Tab S3 ... Cannot install 1.1.0... ((((((

[2019-01-07 09:14] lalaowais commented on #7
Yes same happened here. So waiting for new update with the resolved this
issue

On Sun, 6 Jan 2019, 8:03 AM edtim <notifications@github.com wrote:

[2019-01-07 15:48] tsunami1978 commented on #7
Same issue here on an Asus tablet Zenpad 10 with Android 6.0.1

[2019-01-07 18:41] 92lleo commented on #7
Please try [1.1.1_pre](https://github.com/92lleo/WhatsappWebToGo/releases/tag/1.1.1)

[2019-01-07 18:53] tsunami1978 commented on #7
Sorry, still the same issue. Can't install the app...

[2019-01-07 18:59] lalaowais commented on #7
Still same app not installed

On Mon, 7 Jan 2019, 11:53 PM tsunami1978 <notifications@github.com wrote:

[2019-01-07 19:07] lalaowais commented on #7
This issue will be resolved if first we make the back of preexisting app
and the unistalled the pervious verious and the install this new version.
Should it work.ur remarks need. Or should we wait more to resolve this issue

On Mon, 7 Jan 2019, 11:58 PM Owais Chabbora <mrmianwali2709@gmail.com wrote:

[2019-01-09 08:21] lalaowais commented on #7
But how u have make back up of pervious version. And has it logout after
uninstalling or not

On Wed, 9 Jan 2019, 1:26 AM edtim <notifications@github.com wrote:

[2019-01-13 13:59] edtim commented on #7
From app i cannot open web links

[2019-01-14 07:53] lalaowais commented on #7
Waiting for the app new version that could b update the pervious version.
As we have to unistall pervious version to install new one.

On Sun, 13 Jan 2019, 6:59 PM edtim <notifications@github.com wrote:

[2019-01-14 08:08] 92lleo commented on #7
@edtim
will check shortly

@lalaowais
there will be no version that can update the previous one. The app was signed by google for google play distribution. I can't upload it to google play anymore, so I can't sign it the same. Either make a backup (eg. with titanium backup), uninstall, install new one and restore, or create a new session

[2019-01-16 05:41] lalaowais commented on #7
Thank you so much for your continous support

On Mon, Jan 14, 2019 at 1:08 PM Leonhard Künzler <notifications@github.com>
wrote:

--

*Awais Ahmed *

Assistant Director

Geoscience Advance Reseacrh Labs

Geological Survey of Pakistan

Park Road, Chak Shahzad, Islamabad

03117807879

0519255131

[2019-02-21 11:15] WPFilmmaker opened #8 "Publish on f-droid?"
Would you publish it on f-droid? AFAIK he guys at f-droid take care of everything, the devs of the app just have to assist them if something is not right with the build or if some non-free dependencies have to be replace. Don't know if you might have to rename it though (whatsapp must be registered?) but i think it is worth.

[2019-02-21 11:17] WPFilmmaker commented on #4
@92lleo maybe you could force the app into remaining in background? Perhaps have a thick box on whether to enable notifications or not and warn him that in order to see them the app has to run constantly and might drain the batter. Could be a temporary solution?

[2019-03-05 20:58] 92lleo commented on #4
I'm experimenting with a solution to keep the app starting in the background periodically and also send notifications in case of new messages. Notifications alone would not be reliable and the battery impact of keeping the app in background all the time would be to high

[2019-03-05 21:01] 92lleo commented on #8
Good idea. After some messages with google play dev team it seams like there is no way to get it back to google play. I'll make it available on fdroid then.
Naming should not be a problem. If there are problems, I'll just follow the google play naming rules which was fine before

[2019-03-06 17:29] WPFilmmaker commented on #8
Great!

I think they use https://gitlab.com/fdroid/rfp/issues for submits, you need to tell them some specs of your app and a bot will automatically check if there are issues (proprietary tools used for buildings etc.) and let you know what to do.

@Izzy and @Bubu contribute to f-droid so perhaps they can help if you struggle.

[2019-04-19 00:57] WPFilmmaker commented on #4
I don't know if it can be useful but Frost (a facebook wrapper. https://github.com/AllanWang/Frost-for-Facebook) uses "Android's Job scheduler, and lets the framework decide when to run background services...therefore doesn't need to constantly run in the background nor does it force your pone to stay awake". Maybe you can use the same approach?

[2019-05-09 13:32] AstragoYT opened #9 "No web display"
Only a white Screen (Android Pie, Emui)

[2019-05-16 19:18] 92lleo commented on #9
Hi, sorry for the late answer.
Have you tried to clear app cache & data?
Is the whole screen blank or do you see the navbar on top and can view the sidebar?

[2019-05-17 23:00] priccis commented on #9
Change the user agent in line 72 of main. You can put the [same as your computer](https://duckduckgo.com/?q=what+is+my+user+agent&t=lm&ia=answer)

[2019-05-19 18:25] 92lleo commented on #9
Please check https://github.com/92lleo/WhatsappWebToGo/releases/tag/v1.3.0

[2019-05-19 18:25] #9 closed

[2019-05-21 23:42] WPFilmmaker commented on #8
@92lleo Any news on this? I saw a new release, so maybe it is a good time to get into f-droid?

[2019-05-25 08:41] 92lleo commented on #8
I checked the process, the main problem I see is with fdroid building the apk itself. This means the apk will be signed by fdroid, so updates from releases tab can't be done to the fdroid version and the other way round. Maybe i'll just stop releasing on github then.
I'm on it

[2019-05-25 08:47] WPFilmmaker commented on #8
I am not a dev so my opinion is worth 2 cents but I think you are right, afaik f-droid has an automatic building system so that f-droid users get updates automatically.

This means that non-f-droid and f-droid users will get updates differently yes, however I don't think this is a big issue as if you check: https://gitlab.com/fdroid/rfp/issues you will notice that most of apps are not released onl

[2019-06-10 12:23] AstragoYT opened #10 "Only a blank web view"
I can see only a blank screen. the slider on the left works.

[2019-06-10 12:26] #10 closed

[2019-06-10 12:27] AstragoYT opened #11 "Suggestion: show only the QR code on Login page"
make only the QR code visible on the login page

[2019-06-10 19:43] cybera66 commented on #8
Hi everyone. Whatever the solution, I think GitHub and FDroid are great! Fantastic that the project goes on :-)!

[2019-07-02 20:18] 92lleo opened #12 "Whatsapp only works with Chrome 49"
![image](https://user-images.githubusercontent.com/12110344/60543703-3fb2c580-9d17-11e9-932b-e56f30b12ce4.png)

Whatsapp Web won't load but will show this warning.

Will be resolved Wednesday evening

[2019-07-02 20:19] 92lleo commented on #11
Good addition, I'll look into it.
Notifications are higher prio on the todo list

[2019-07-02 20:21] 92lleo commented on #8
@WPFilmmaker Sorry, still didn't do it. If you want to start the progress, you're allowed to add an issue for this app. If you need anything, just comment here or write me a mail

[2019-07-03 17:36] 92lleo commented on #12
Fixed in [1.4.0](https://github.com/92lleo/WhatsappWebToGo/releases/tag/v1.4.0)

[2019-07-03 17:36] #12 closed

[2019-07-04 13:57] lisianeschwantesmachado180901 commented on #12
Hello Leo, did you solve it? Will we have to download a new version of the app? Do you send the link? Waiting for answer, thank you!

[2019-07-04 14:01] 92lleo commented on #12
Hi, please check the releases, there is a version 1.4.0.
This version is also linked in the comment above.

[2019-09-18 18:20] WPFilmmaker commented on #8
@92lleo What is the license of whatsappwebtogo? I couldn't find it anywhere and it is on of the requirements for submission.

[2019-10-09 19:43] 92lleo commented on #8
@WPFilmmaker sorry for the delay, license is added (MIT)

[2019-10-10 20:43] IzzySoft commented on #8
F-Droid maintainer here. Our bot just approved, and I prepared the metadata. You might wish to establish [Fastlane file structure](https://gitlab.com/snippets/1895688) to provide screenshots and maintain the app description yourself. Please let us know when you did so and have a tag covering fastlane.

[2019-10-12 08:25] static-void opened #13 "Support zoom"
Hi, love this app, but I am using it on a  planet computers gemini which has a portrait screen, and it could really use some kind of UI scaling as the contact list takes up nearly half the screen. Is this possible? Thanks

[2020-01-16 02:48] BlueGuitarCL opened #14 "No builds apart of Android Q"
Currently i have a Xiaomi Redmi 3 running on Android 5.1.1 and i got ver. 1.0.1 running but with the white screen bug. Got here thanks the github link, but none of the releases prior to that version works to me. The Play Store site is down, and there're no readme for building the app by myself (idk enough :c)

Until which version you're planning to support on your app?

[2020-01-16 17:34] 92lleo commented on #14
Hi, have you tried the release 1.4.0? It's build with the q sdk but supports back to sdk 21 (5.0), so 5.1 should work

[2020-02-29 19:50] 92lleo commented on #13
Done with 1.5.0

[2020-02-29 19:51] 92lleo commented on #3
Please zoom (pinch to zoom) to adapt picture & video size

[2020-02-29 19:51] #3 closed

[2020-02-29 19:54] 92lleo commented on #8
Resubmitted with release 1.5.0, fastline file structure still on todo, keeping this open

[2020-03-01 05:56] static-void commented on #13
Awesome, thank you!

On Sat, 29 Feb 2020 at 19:50, Leonhard Künzler <notifications@github.com>
wrote:

[2020-03-02 07:12] 92lleo commented on #13
@static-void did it work in your usecase?

[2020-03-09 21:08] 92lleo opened #15 "Add fastlane file structure"
Add fastline file structure as detailed in [fdroid doc](https://gitlab.com/snippets/1895688)
(task from #8)

- [x] Create screenshots for phone and tabled (the old screenshots don't look very good)
- [x] Create App summary and description
- [x] tag and release

[2020-03-09 21:09] 92lleo commented on #8
Fastlane file structure will be tracked in #15
request for packaging was successfully closed, closing this as soon as the app is in the store

[2020-03-12 11:33] 92lleo commented on #8
@IzzySoft
https://f-droid.org/wiki/page/io.kuenzler.whatsappwebtogo/lastbuild_26
Is this due to the RC version of Build Tools (30.0.0 rc1), or is this a temporary access issue?

[2020-03-12 18:14] 92lleo commented on #15
Added with 7ce775b
leaving issue open until store entry is live

[2020-03-12 20:27] IzzySoft commented on #8
I'm no packager so I hardly can tell, sorry.

[2020-03-13 18:09] marcosimonegili opened #16 "Unable to setup after installing."
Sorry, something went wrong.
We're working on getting this fixed as soon as we can.

![Screenshot_20200313-185736](https://user-images.githubusercontent.com/29420400/76647351-f4ff7380-655c-11ea-8484-bd31940c2e7e.png)

WAWTG version: 1.5.2
Device: Fire HD 8 (8th gen)
OS: Fire OS 6.3.1.5 (based on Android 7.1 Nougat)

[2020-03-15 10:06] 92lleo commented on #16
Hi,
I didn't see this issue before, I'll look into it. Until then, please try older app versions until 1.4.0 and see, if any of those work.
It could be possible that FireOS is shipping an old or stripped down version of android webview. I'll test some possibilites and report back here

[2020-03-15 11:01] marcosimonegili commented on #16
Indeed 1.4.0 works!
![Screenshot_20200315-115915](https://user-images.githubusercontent.com/29420400/76700133-ba105380-66b4-11ea-8d97-4117453434e0.png)

[2020-03-15 11:29] 92lleo commented on #16
Perfect, I'll check for any affecting changes and try to fix it

[2020-03-16 12:10] PanderMusubi commented on #15
The metadata is looking good. Instead of fastlane in the top-level, also metadata in the top-level is possible but depends on you and your usage of fastlane in other strores than F-droid.

Nice would be also add a feature graphic, here is a royalty-free suggestion:

![featureGraphic](https://user-images.githubusercontent.com/198964/76757165-6a4e8c80-6787-11ea-996d-acad65c26543.png)

[2020-03-17 19:07] 92lleo commented on #16
Seems like whatsapp is checking features according to the given UA. I was able to reproduce the issue mentioned above in WhatsappWebToGo when trying with an older device. The UA I've currently set in the app is the current chrome UA. I changed it to the current Firefox UA and the issue is gone.

After changing the UA to an older chrome version (75 instead of 79) the issue is gone on my test device

[2020-03-17 19:20] marcosimonegili commented on #16
The test version loads correctly!!

![Screenshot_20200317-201615~2](https://user-images.githubusercontent.com/29420400/76893469-b0414880-688c-11ea-85d4-c89b38cbba33.png)

[2020-03-17 19:25] #16 closed

[2020-03-17 19:28] 92lleo commented on #16
Perfect, thanks for the quick response! I'll release a new version, you can keep the test version installed.

[2020-03-17 19:29] 92lleo commented on #15
Thanks for the suggestion! I just took it as is - maybe I have more motivation to do something else later:)
For the file structure: Currently I'm only releasing on fdroid (once the builds start working), so it doesn't really matter

[2020-03-17 19:29] marcosimonegili commented on #16
So, now I Just keep the test version, or should I install the major release? Sorry to bother you 🙂

[2020-03-17 19:32] 92lleo commented on #16
No problem:) Easiest is to keep the test version, once something newer than 1.5.3 releases, you can update as usual.

[2020-03-19 17:23] beppe9000 commented on #14
hello did you test this with memu player? stays like this forever, saying not compatible.
![image](https://user-images.githubusercontent.com/6625123/77095831-b95a2300-6a0e-11ea-9545-6953cf64e7a2.png)

[2020-03-19 17:27] 92lleo opened #17 "Does not install on memu player"
From @beppe9000:

[2020-03-19 17:28] #14 closed

[2020-03-19 17:30] 92lleo commented on #17
Hi @beppe9000,
i did not test it with memu player, but it should install on every android instance without issues. Did you have these issues before?

[2020-03-23 14:35] static-void commented on #13
It actually has not helped, I can now zoom in but I want to zoom out :S

On Mon, 2 Mar 2020 at 07:12, Leonhard Künzler <notifications@github.com>
wrote:

[2020-03-23 14:38] 92lleo commented on #13
Thanks for the feedback. I'll look into this again and see what i can do

[2020-03-23 18:15] 92lleo commented on #13
Could you please try the attachted apk? I changed the initial zoom setting to a hardcoded value. If this works for you, I need to build some kind of settings page as this does not really work on phone screens.
[wawtg_29_test.zip](https://github.com/92lleo/WhatsappWebToGo/files/4371171/wawtg_29_test.zip)

[2020-03-24 08:06] 92lleo commented on #8
One year later, it's finally done 🎉Thanks for your input! Proper store entry will be further traced in #15
[<img src="https://fdroid.gitlab.io/artwork/badge/get-it-on.png"
    alt="Get it on F-Droid"
    height="80">](https://f-droid.org/packages/io.kuenzler.whatsappwebtogo)

[2020-03-24 08:06] #8 closed

[2020-03-24 10:12] 92lleo commented on #15
@PanderMusubi as the store entry is now live (https://f-droid.org/packages/io.kuenzler.whatsappwebtogo/), how do I get it to use "my" metadata?

[2020-03-24 21:00] PanderMusubi commented on #15
If you move metadata one directory up and remove fastlane it should appear in next release. @IzzySoft correct?

[2020-03-24 21:58] IzzySoft commented on #15
I wouldn't recommend that (though it should indeed work). Instead, switch to the proper [Fastlane file structure](https://gitlab.com/snippets/1895688): there's one directory level missing here. This repo has `fastlane/metadata/en-US/*` – correct would be `fastlane/metadata/android/en-US`.

[2020-03-25 05:49] static-void commented on #13
Will try it later today, thanks a lot for the support on this issue!

On Mon, 23 Mar 2020 at 18:15, Leonhard Künzler <notifications@github.com>
wrote:

[2020-03-25 07:04] static-void commented on #13
The zoom is perfect now, but it always zooms in on the chat when you click
to write text, is it possible to optionally disable that? But if not it is
anyway a great improvement! Definitely the best of this the whatsapp web
apps!

On Wed, 25 Mar 2020, 05:49 Ed Robbins, <edd.robbins@googlemail.com> wrote:

[2020-04-03 09:15] theFireProjet commented on #13
Hi, I love this app.

I've noticed, on the login page you are constantly zoomed in and it's not possible to zoom out. Most browser have an option in case websites block zooming which allows you to zoom anyways. I don't know but maybe an adaption this force zoom option would work.
![20200403_111458](https://user-images.githubusercontent.com/61639215/78344232-5f279900-759c-11ea-80f0-a8be1d903962.jpg

[2020-04-09 07:00] ort163 opened #18 "Please rename (un)hide Navbar to (un)hide Appbar"
Please rename (un)hide Navbar to (un)hide Appbar

If you these pages:
App bar:
https://developer.android.com/training/appbar/

Nav bar is the one on the bottom
https://material.io/design/platform-guidance/android-bars.html#android-navigation-bar

[2020-04-09 12:08] 92lleo commented on #18
Thanks for the hint, will be fixed in next release

[2020-05-16 15:16] naveenjohnsonv opened #19 "Downloading media not working"
Shows that the media has been downloaded but unable to locate it on the device. Tried even after manually providing storage permission.

[2020-06-02 06:10] msgpo opened #21 "Privacy Settings Option"
Any thoughts on additional privacy options like freezing last seen, hiding view status, hiding view status, showing blue ticks only after reply etc

[2020-06-02 07:51] 92lleo commented on #19
Hi,
downloading media from whatsapp web is not supported by the current webview. I have a few ideas on how to solve this, but no time to do it yet

[2020-06-02 07:52] 92lleo commented on #21
Hi,
i don't think any of those are possible, as whatsapp web has to be connected to your phone and whatsapp on your phone manages all those things

[2020-06-02 13:50] naveenjohnsonv commented on #19
No problem :)

[2020-06-03 02:36] msgpo commented on #21
Thanks for the reply, I came across this and it got the wheels turning that's why I asked https://techpp.com/2017/11/20/whatsapp-web-chrome-extensions/

[2020-06-03 06:33] 92lleo commented on #21
Thanks for the links, I'll look into it

[2020-06-06 18:23] 92lleo commented on #13
@theFireProjet I actually enabled all that settings. The only workaround is to set the initial zoom lower like detailed above. Those zoomsettings need some finetuning before releasing it, unfortunately I can't give an eta.

@static-void I'll look into it. Thanks for the feedback!

[2020-06-08 07:20] 92lleo commented on #19
Found a way. If everything works out, it will be included in the next release :)

[2020-06-08 11:17] naveenjohnsonv commented on #19
That's great. Eagerly waiting!

[2020-06-17 18:33] #18 closed

[2020-06-22 20:23] 92lleo commented on #15
@IzzySoft next release is out (took a while..). Changelog and Images worked, but Title and Description not so much. Anything I still need to do?
https://f-droid.org/en/packages/io.kuenzler.whatsappwebtogo/

[2020-06-22 21:44] IzzySoft commented on #15
Yes, we'd need to open another MR at F-Droid to remove the local description. But first you'd need to fix your fastlane short-description: max 80 chars are permitted, all behind that will get truncated. Yours has 129 chars, so almost half of that will be cut off. I'd simply make that

    access WhatsApp Web on your mobile device - send audio, pictures and video

Then, after you've tagged your nex

[2020-06-23 14:43] OrionGrant opened #22 "Any chance of a Windows Phone port?"
Windows Phone no longer has a whatsapp client, it'd be great to be able to take the phone out again and still be able to use whatsapp!

[2020-06-25 07:00] 92lleo commented on #22
Hi,
Sorry, not on the plan. I don't have a windows phone, don't know how to develop and publish for WP and unfortunately don't have the time to read into it right now

[2020-06-25 07:00] #22 closed

[2020-06-25 11:26] 92lleo commented on #15
Thanks for the quick feedback and tips! I updated short-description and description. I want to wait for an actual change to the app for the next tagged release to avoid having "empty" releases.
I'll ping here again once it's done

[2020-06-29 16:17] gbraad opened #23 "typo; toogle/toggle"
https://github.com/92lleo/WhatsappWebToGo/blob/3db55eebad24e8b73867eb0a88924c3ba887a54d/app/src/main/res/menu/activity_main_drawer.xml#L34

[2020-06-29 16:19] 92lleo commented on #23
Thanks for noticing, set for next update ,

[2020-06-29 18:07] #23 closed

[2020-06-29 18:08] 92lleo commented on #23
thanks!

[2020-06-30 07:08] T-vK opened #25 "Usage without having the app installed on a phone"
I realize this is not a trivial feature request, but it would be cool if you could use this app without having whatsapp installed on any phone.
For example by having whatsapp run inside of an emulator on a server. Then we'd just have to send the QR code to that server and pass it to whatsapp through a fake camera interface. Monkeyrunner could help opening the menu in Whatsapp.

[2020-07-08 06:18] 92lleo commented on #15
Release was picked up by fdroid: https://f-droid.org/wiki/page/io.kuenzler.whatsappwebtogo/lastbuild_30

[2020-07-08 18:49] 92lleo commented on #15
@IzzySoft  ping :)
change is now picked up by buildserver and store -> https://f-droid.org/en/packages/io.kuenzler.whatsappwebtogo/

[2020-07-08 20:10] IzzySoft commented on #15
@92lleo pong, [here you go](https://gitlab.com/fdroid/fdroiddata/-/merge_requests/7076) :smiley:

[2020-07-08 20:54] IzzySoft commented on #15
@92lleo as for pulling from fastlane, I had to clear all summaries as well. You might wish to add the corresponding `short_description.txt` files to your fastlane:

* **pl:** "Klient internetowy WhatsApp dla twojego telefonu/tabletu z obsługą multimediów"
* **tr:** "Medya desteği olan telefonunuz/tabletiniz için WhatsApp Web istemcisi"
* **zh-CN:** "适用于您的手机/平板电脑的 WhatsApp 网页客户端，具有媒体支持"

[2020-07-17 11:07] WPFilmmaker commented on #25
+1, anbox project is very promising, and this https://github.com/fython-tools/DocUIProxy-Android albeit abandoned might be useful

[2020-07-20 05:50] void00r opened #27 "How not to block keyboard"
It dont let keyboard to to access the app

[2020-07-20 07:41] 92lleo commented on #27
Hi,
I don't know if I understand correctly. You want to unblock the keyboard?
You can use the keyboard button on the top right to block/unblock the keyboard. If you don't see the button, swipe from the left and choose "toggle appbar visibility"
![image](https://user-images.githubusercontent.com/12110344/87912178-31902e00-ca6d-11ea-8096-1d17a9cdeb1d.png)

[2020-07-20 08:34] void00r commented on #27
Ohh I think it should be visible by default. Its confusing for new peoples especially normies.

[2020-07-20 08:34] #27 closed

[2020-07-20 10:24] 92lleo commented on #27
The keyboard is unlocked and the appbar is visible by default. If it was diffrent for you, please check again (delete app data and start fresh). If the issue persists, please repoen this issue.

[2020-09-16 11:25] wolfm89 opened #28 "App opens web page in browser instead"
Hi,

first of all big thanks for creating this awesome app!

There is a single problem for me that is a bit annoying: Sometimes when I open the app a browser window is opened instead and directs me to the WhatsApp Web page. When I then close the browser and open the app again it only shows a blank screen and doesn't load. I have to force stop it and restart the application in order for it to work

[2020-09-18 14:41] 92lleo commented on #28
Hi,
sometimes WA Web detects a mobile phone browser (within the app), then redirects to the whatsapp web page, which opens externally like any other link. **Instead of force closing, you can use "reload" from the navigation drawer.**
The redicting to the whatsapp page should be stopped automatically though.. I'll look into it. Will take some time b/c of holidays🌴. I'll keep this issue updated

[2020-09-18 14:43] 92lleo commented on #25
Hi guys,
before doing anything with the app (only thing would be extracting the qr code), the "fake" whatsapp instance has to be set up. I think this is out of scope of the application. If something like this does exist and has a proper api, we can look into extracting the qr code to that api.
Best, Leo

[2020-09-26 23:39] 92lleo commented on #15
@IzzySoft I'm preparing a release currently, is there anything needed to be included (besides the short descriptions)?

[2020-09-26 23:49] #28 closed

[2020-09-26 23:54] 92lleo commented on #17
@beppe9000 ping

[2020-09-27 09:05] PanderMusubi commented on #15
The feature graphic

[2020-09-27 09:44] beppe9000 commented on #17
in the end i installed on a physical device

[2020-09-27 09:54] IzzySoft commented on #15
Looks like your fastlane structure contains everything that's needed (short and full desc), what's recommended (screenshots, changelogs), what's nice-to-have (featureGraphic), and even more (title). Now you'd only need to get some things in the right place: all the picture stuff needs to be below `fastlane/metadata/android/<locale>/images` (see [my snippet](https://gitlab.com/snippets/1895688) for

[2020-09-27 10:56] #17 closed

[2020-09-27 14:45] 92lleo commented on #15
@IzzySoft thanks for the hint, I somehow overlooked the image dir. Fixed now.
@PanderMusubi Your suggested feature graphic was added earlier, should be in the right dir now, too. Thanks!

If the metadata looks good for you now, I'd tag a new release

[2020-09-27 16:00] IzzySoft commented on #15
Yes, looks good now! When tagged, please send a note to the corresponding RFP (or update the MR, whichever it is). Thanks!

[2020-09-27 16:22] 92lleo commented on #15
Tagged as [v1.6.2](https://github.com/92lleo/WhatsappWebToGo/releases/tag/v1.6.2).
Do you mean the [initial RFP](https://gitlab.com/fdroid/rfp/-/issues/1123)?

[2020-09-28 19:49] IzzySoft commented on #15
Oops, no – I see your app was already added. Then we'd need a MR to remove summary/description from our metadata, so fastlane can take over.

[2020-09-29 09:10] 92lleo commented on #15
https://gitlab.com/fdroid/fdroiddata/-/merge_requests/7076?commit_id=551b21681a61bb2a7c2b901867714bb94e2a21f0
already done by you 😀 so everything should be ready? Build for 31 went trough, store didn't pick it up yet.

[2020-09-29 10:46] IzzySoft commented on #15
Ah, I did that already… well, so much work, one doesn't remember each single item :rofl:

Yes, then everything should be ready. I didn't check when that build went through – but of course it would need to be signed (manual step) and then won't appear before the next index is published.

[2020-10-02 07:32] 92lleo opened #32 "[Mail request] App Crash"
Hi Leonhard, thanks for the new update of WhatsApp Web to Go!
I just noticed that this new version crashes everytime I hit "Toggle Appbar Visibility", could you please check?.
v1.6.2

[2020-10-02 07:33] 92lleo commented on #32
Probably solved by #31

[2020-10-02 16:28] tastelessjolt opened #33 "Resizable Running Activity"
It'd be great if resizing the app in multi-app view would not restart the app everytime. Currently, it resizes but refreshes the content. I think this might be fixed with a few flags on the activity.

Thanks in advance

[2020-10-06 11:48] 92lleo commented on #33
Hi,
thanks for the feedback. I'll look into it.

Best,
Leo

[2020-10-07 16:20] 92lleo commented on #32
Fixed by #31, will be included in the next release

[2020-10-07 16:20] #32 closed

[2020-10-09 22:22] #33 closed

[2020-10-09 23:22] 92lleo commented on #33
See release 1.6.3, it's up here on github now or on fdroid in 2-3 days, depending from what source you installed it

[2020-10-11 10:56] Domi04151309 commented on #15
Fastlane file structure is present and working. I think this can get closed?

[2020-10-11 14:57] 92lleo commented on #15
Correct. Thank you all for your help! Closing.

[2020-10-11 14:57] #15 closed

[2020-11-13 15:42] WPFilmmaker commented on #21
just for the records it seems that some apps from the first link got removed from chrome store

[2020-11-19 06:44] tastelessjolt commented on #33
Thanks a lot! It works great now! :100:

[2021-01-08 20:11] Laserlicht opened #39 "Disable Keyboard in Sidebar"
The "Disable Keyboard-Button" should be accessible in the Sidebar if the Appbar is diabled.

[2021-01-09 11:43] 92lleo commented on #39
Good point, tracking this for a future release

[2021-01-13 18:30] #39 closed

[2021-01-17 22:05] VerixGH opened #40 "1.6.4 f-droid"
When will the new version be available on f droid?

[2021-01-18 11:14] SaahibJee opened #41 "Suggestion"
Please fix auto keyboard pop up and also add a button to open close keyboard at own will.
Thanks

[2021-01-18 11:17] SaahibJee opened #42 "Suggestion"
Please add a feature to download media  to our phone as this is available on browsers

[2021-01-19 13:03] SaahibJee commented on #19
Where is the update ?
Have you found it

[2021-01-19 13:23] 92lleo commented on #19
Unfortunately there is no update yet.
It involves more work than expected an currently I don't have the time to dig into it. It's still on the todo list though.

[2021-01-19 13:23] 92lleo commented on #41
that feature is already there, twice. Do you have issues? Then please reopen

[2021-01-19 13:23] #41 closed

[2021-01-19 13:25] 92lleo commented on #40
Usually it only takes one day. Fdroid looks like fdroid has not picked up the git tag yet, I'll check

[2021-01-19 13:25] 92lleo commented on #42
See #19

[2021-01-19 13:25] #42 closed

[2021-01-23 23:17] 92lleo commented on #40
Build was running on thursday morning: https://f-droid.org/wiki/page/io.kuenzler.whatsappwebtogo/lastbuild_33
It should be picked up by the store shortly

[2021-01-26 17:10] ammarhakimi53 opened #43 "Cant download pdf file"
I can't download any pdf documents

[2021-01-26 18:02] 92lleo commented on #43
See #19

[2021-01-26 18:02] #43 closed

[2021-01-27 19:44] 92lleo commented on #40
ref: https://gitlab.com/fdroid/fdroiddata/-/commit/4da6c71f003deea5283ce81f91462fbbff97cd56

[2021-01-28 09:51] 92lleo commented on #40
There seems to be an issue with store entry indexing, nothing we can do on our side. You can always build from source yourself or use the apk in the release section here - but please keep in mind that they are signed diffrently, so you cant switch from one release channel to another (github/fdroid) without re-installing

[2021-02-01 10:36] 92lleo commented on #40
https://f-droid.org/en/packages/io.kuenzler.whatsappwebtogo/
1.6.4 / 33 is available on fdroid now

[2021-02-01 10:36] #40 closed

[2021-02-10 11:12] 92lleo commented on #21
The approach used in https://github.com/tomer8007/whatsapp-web-incognito should work here too. I'll test it once I find the time

[2021-03-06 09:32] ristein commented on #4
hey,
this would be a nice feature.
Is there any progress?
Checking for new messages every few hours would be great

[2021-03-06 09:34] ristein commented on #12
hey, great wortk 👍
could you unpinn this issue?
I guess its not needed anymore

[2021-03-07 09:34] 92lleo commented on #12
correct, thanks for reminding!

[2021-03-22 11:59] WPFilmmaker commented on #25
@92lleo did you hear of this? soon whatsapp web should allow user to use whatsapp without a phone being connected to the internet so maybe we are moving towards the solution to this ticket? :)

https://wabetainfo.com/whatsapp-messenger-beta-for-ios-2-21-60-11-whats-new/

[2021-05-11 12:31] firebrain12 opened #44 "purchase this poject"
hi is it possible to purchase this project or can i get permission to use this project for commercial use without Mit license license policy?

[2021-05-19 16:54] firebrain12 commented on #19
Fixed!!!

[2021-05-19 20:20] 92lleo commented on #44
Clarified by mail

[2021-05-19 20:20] #44 closed

[2021-05-19 23:28] firebrain12 commented on #44
Hey glad we can work together this is my first contribution to GitHub and
am still learning more about java feel free to make any changes to my
contribution got some other stuff am working on atm so time I don't have
but Al be contributing regular :)

BR
Markie

On Wed, May 19, 2021, 4:20 PM Leonhard Künzler ***@***.***>
wrote:

[2021-05-25 20:07] 92lleo commented on #19
Currently the download is being triggered twice. Once this is fixed, I'll release the new version

[2021-05-25 20:16] firebrain12 commented on #19
Ok 👌 I will have a look at it as well  thanks for your understanding 😁

BR
The Genius

On Tue, May 25, 2021, 4:07 PM Leonhard Künzler ***@***.***>
wrote:

[2021-05-28 19:34] SimonGhoul commented on #4
I have a couple of suggestions

1. Adding an optional permanent notification, doesn't display messages, it may consume more battery but the user will be warned about this and it will be optional. The permanent notification will keep the application alive in the background, but it won't display any messages. This is a solution that accubattery, blokada, and macrodroid uses to stay alive
2. I notice

[2021-05-29 11:30] firebrain12 commented on #19
Hey at the moment am working on a way to get notification working in the
project but I would like to no if sending you the counter appeal for the
DMCA claim is a good idea or is there a other way to get my apps back and
running soon as day come back online it will be taken down and  updated
with your credentials please let me know am not trying to get my self in
any lawsuit against you honestly i

[2021-05-29 19:05] 92lleo commented on #4
Hi Simon,

thanks for the input

1.  The permanent notification seems like the easiest idea compared to a service checking for new messages or something similar. I'll put this on top of my todo, together with the needed settings page
2. Thats right, but there is already an easier way, see the poc fork from https://github.com/TSGames/WhatsappWebToGo/. I just need to adapt /include that

[2021-06-04 23:30] SimonGhoul commented on #4
awesome!

[2021-06-06 21:37] 92lleo commented on #19
@all Please check the new release 1.7.0
For newer android versions the permission is broken. If you can't download files, set the storage permission manually for the app. I'll fix this asap!

[2021-06-07 00:01] firebrain12 commented on #19
Yup that's why I had added it for you the first time👌

On Sun, Jun 6, 2021, 5:37 PM Leonhard Künzler ***@***.***>
wrote:

[2021-06-09 15:37] 92lleo commented on #19
I kept the permission, I just moved it to the right places, so it does only ask when you really need it. Besides that, the logic is working until Android 10 (included). For 11 it's broken as the permission scheme changed. I'll work on that

[2021-06-09 16:55] 92lleo opened #46 "Fix storage permission for Android 11"
To upgrade to and target Android 11 SDK, Storage permissions have to be adapted

[2021-06-09 16:56] 92lleo commented on #19
Workaround for missing permission request on android 11 is live with [Release 1.7.1](https://github.com/92lleo/WhatsappWebToGo/releases/tag/v1.7.1).
Fixing permission requests for Android 11 is further tracked in #46
-> Closing

[2021-06-09 16:56] #19 closed

[2021-06-10 21:20] shawn1thompson opened #47 "Logging in"
I'm not sure if I'm missing something, but I don't know how to login. There's a QR code I would normally scan with my phone, but the QR code is already on my phone screen.

[2021-06-11 08:22] 92lleo commented on #47
This app is for use with a second phone. If you have whatsapp and whatsappWebToGo on the same phone, there is no real benefit, as it would use the same account.
-> install WhatsappWebToGo on another phone where you want to access your chats (like on whatsapp web on desktop)
-> open Whatsapp on your primary phone and scan the qr code from the other phone

[2021-06-11 10:36] shawn1thompson commented on #47
Makes sense. Thanks.

[2021-06-11 10:36] #47 closed

[2021-06-14 14:58] Github-com-foss opened #48 "UI/UX changes"
Pls provide Original Whatsapp app like UI & UX changes in whatsapp web.

[2021-06-14 14:59] Github-com-foss opened #49 "Audio & Video calls"
Audio & Video calls?

[2021-06-14 18:30] 92lleo commented on #49
Audio & Video calls what? A proper sentence would be nice.

Whatsapp Web To Go just mirrors web.whatsapp.com, which does not support audio & video calls. As long as this is for the desktop app only, it's not supported here

[2021-06-14 18:30] #49 closed

[2021-06-14 19:20] 92lleo commented on #48
As mentioned, the app just mirrors web.whatsapp.com. There would be a lot of work involved in recreating the whatsapp ui and reading/setting everything. I don't have the time/intention to do that, but I'm open to input, but until now it's not planned

[2021-06-19 18:54] davralin commented on #25
Just stumbled upon this project, and saw this issue.

If anyone is interessted, this might serve as a good starting point for running whatsapp "off" your phone.

https://docs.mau.fi/bridges/go/whatsapp/android-vm-setup.html

[2021-06-21 14:44] Github-com-foss opened #50 "InBuild AppLock"
Add inbuild AppLock helps to protect conversation little protective.

[2021-06-30 06:27] NSTAdventure opened #51 "login?"
Whatsapp ask for QR scan how do i scan that tho?

[2021-06-30 18:13] 92lleo commented on #51
See #47

[2021-06-30 18:13] #51 closed

[2021-07-01 08:08] NSTAdventure commented on #51
Bruh  i guess this app literally useless on my devices I though i can login directly but thanks for your clarification

[2021-07-01 21:08] NSTAdventure commented on #51
Yeah  i know right thanks anyway and sorry if i offended you it's not my intention to

[2021-07-31 04:25] github838 opened #53 "Banned"
Hi,
Someone threatened me that he will banned my number from WhatsApp and here we are 🙂💔
![image](https://user-images.githubusercontent.com/78624931/127728517-66d3c577-2e13-42a6-8739-7b2b34debebc.jpeg)
I don't know how he did this and I don't know how to protect myself from things like this

[2021-08-03 06:49] 92lleo commented on #53
Hi,
first of all, thats not an issue from this app, so I'd really like to edit your title and description to highlight that.
Have you tried those steps: https://www.callbell.eu/en/whatsapp-business-number-blocked/ ? In any case you need to get in touch with WA support to find out what happened

[2021-08-04 12:44] ronz91 opened #54 "Unable to log into WhatsApp Beta account"
Hi there

Thanks for this great app

I am unable to log into from a Beta account with the new multi-device support enabled.

When I scan the barcode it immediately switches to the reloading circle and the primary phone says scan barcode again.

Any help?

[2021-08-04 12:57] ronz91 commented on #48
Hi there

Thanks for this great app.

My idea for a solution to this would be a button that basically alternates betweens left and right hand sides of the UI and zooms/scales to a level that the user can set in settings.

So basically when viewing on the left where the contact list is, clicking the button would move to the right where the chat window is and zooming/scaling to the user set view.

[2021-08-04 13:07] 92lleo commented on #54
Hello,
are you able to login at web.whatsapp.com? If yes, please try to clear appdata of whatsapp web to go, this will force the reload of web.whatsapp.com internally

[2021-08-04 13:10] 92lleo commented on #48
Yes, I guess this is the easiest way. with #52 the beginning of this is already done. Same would have to be done for the chat list and initial screen with qr code, scrolling could then be done via swipeing or buttons

[2021-08-04 13:11] #53 closed

[2021-08-04 13:11] 92lleo commented on #50
This is on the todo list, blocked by the non-existing settings page

[2021-08-04 13:13] ronz91 commented on #54
I use the official Windows client without any problem

Okay let me try that out

[2021-08-04 13:14] ronz91 commented on #4
Any updates regarding this?

[2021-08-05 10:34] ronz91 commented on #54
Hi there

The issue was the wifi network.

Sorry for the trouble.

Keep up the great work!

[2021-08-05 10:37] ronz91 commented on #4
@ristein sorry I am new on Git, how do I private message you?

[2021-08-05 10:42] ristein commented on #4
I forgot it yesterday. Will publish how I built that today

[2021-08-05 10:42] 92lleo commented on #4
@ristein are you doing this via reading the whatsapp-android notifications or grabbing notification from whatsapp web? The later would help here, the first one might still be interesting for others here :)

[2021-08-05 10:43] ristein commented on #4
I only grab the android notifications, which is not related to this app

[2021-08-05 11:10] ronz91 commented on #4
Could you elaborate on how #2 would be implemented/how it works? Noob programmer apologies in advance.

[2021-08-05 16:53] ristein commented on #4
I used this app:
https://play.google.com/store/apps/details?id=com.llamalab.automate
and this script (importable via that app):
[Send mail on noti.flo.zip](https://github.com/92lleo/WhatsappWebToGo/files/6940382/Send.mail.on.noti.flo.zip)

[2021-08-16 03:19] xxTheGoDxx opened #55 "Any chance of a Wear OS version?"
We used to be able to at least send new WA messages from stretch via Google Assistant, but like all things Google Assistant on Wear OS this doesn't work anymore and Google is refusing to react to this. Anyway, we can still reply to messages but we could never send or receive straight audio messages or see pictures (well, sometimes the later works).

So, there would certainly be an audience for the

[2021-08-19 18:38] darkenedcolossal opened #56 "Remove "Your Battery Status is Low" notification"
I have WhatsApp on the same phone on another account and WWTG always shows me the above notification.
Maybe it's just my case, but if more are affected you might want to fix that.

[2021-09-05 17:18] alessandro-cojp opened #57 "App doesn't load setup screen on low-end Android 5.1 device"
I own a BRONDI smartphone (branded chinese OEM smartphone) that I'd like to use as a distraction free device with only WhatsApp Web to Go and a few other apps from F-Droid.

Problem is that the app is stuck on the first loading screen. The setup with the QR Code never appears. I tried version 1.6.4 up to 1.7.1

Here are the specs from the BRONDI smartphone:
CPU: Mediatek MT6580M
Cortex-A7
RAM: 512

[2021-09-08 10:44] #57 closed

[2021-09-10 08:57] 92lleo commented on #57
Hi, sorry for the late answer.
As you closed the issue, did you find a solution? My best guess is: Check if your webview provider (com.google.android.webview) is up to date.

[2021-10-01 07:07] ristein commented on #43
we have to grant storage permission manually

[2021-10-09 05:57] SamarthCloudStorage opened #58 "I accidentally hid the appbar and keyboard"
I accidentally hid the appbar and keyboard,  now i cant chat or undo these things, as both of them are blocked... any way to undo this ?

[2021-10-09 11:00] #58 closed

[2021-10-14 20:49] 92lleo commented on #58
Pull the hamburger menu from the left side, there you can unhide both appbar and keyboard

[2021-10-17 14:51] Krawei opened #59 "Unable to set a WhatsApp status"
Is there a way to set my WhatsApp Status with any kind of text or media? I can set it with my original WhatsApp app but I can't set it with this great WhatsApp Web App.

Will it be able in the future? This would be great :).

Kind Regards,

K.

[2021-10-18 15:09] #56 closed

[2021-11-10 07:41] JustAnotherSupporter commented on #53
The issue were with whatsapp itself. Or rather with the installation method used on Aurora Store.
Since changing the installation method in Aurora Store from the "session installer" to the "native installer" in regards to WhatsApp itself there hasn't been any issues.

Thank you for your guidance!

[2021-11-11 14:48] fung04 opened #60 "Downloaded file extension name is incorrect"
I am not sure how the download work. My issue is when I try to download a Microsoft Word (.docx) extension name file it turn out become (.document) extension name file instead,

My solution to fix is change the (.document) back to (.docx) then I can view edit the document,

I am using the github latest release 1.7.1

![SmartSelect_20211111-222831_My Files](https://user-images.githubusercontent.com

[2021-11-13 22:37] 92lleo commented on #60
Hi, thanks for your report. Are you using the latest version?

"application/vnd.openxmlformats-officedocument.wordprocessingml.document" should be changed to docx , see https://github.com/92lleo/WhatsappWebToGo/blob/d4cc27d8cbe6e6ce8bc847728380bf4213092805/app/src/main/java/io/kuenzler/whatsappwebtogo/MimeTypes.java#L43

I'll see if I can reproduce this

[2021-11-23 11:59] kaitou1412 opened #61 "Multi Device support"
Hi, thank you for wonderful app!

However, I tried it with whatsapp multi device, seems like it doesn't support it right now?

Have you tried it also? It stucks on login

Please share your opinion, thanks

[2021-11-23 12:25] 92lleo commented on #61
Hi,
thanks for your feedback. In other issues people stated it's working with multi-device beta.
I'd suggest to clean App Data and then reconnect with whatsapp on your phone. I'll try to reproduce it myself

[2021-11-24 04:12] kaitou1412 commented on #61
Thanks for your reply.

I tried it with freshly installed whatsapp web to go

so, is it working with yours?

i tried it with business whatsapp account, btw

[2021-11-24 18:02] 92lleo commented on #61
I tried to login with multi device beta enabled

- scanning the qr code first results in another qr code (normal behaviour, change to beta)
- scanning the 2nd qr code resulted in loggin in to multi device beta.

So it works for me, but I don't have a business account to test.

[2021-11-25 02:39] kaitou1412 commented on #61
i tried again
scanning qr code - whatsapp says logging ini, and still on scan qr code page
whatsapp to go after scanned, loading icon still circling but i think it's stuck there

retried again and still same result

[2021-11-25 02:40] kaitou1412 commented on #61
cleaned WTG App Data and tried again. same result

[2021-11-25 04:39] Premjit-Developer opened #62 "Cannot send pdf document (send button not visible)"
![IMG_20211125_101221](https://user-images.githubusercontent.com/72644801/143380747-0a88835f-5f28-4d03-9e3c-dd3cb31b2983.jpg)

[2021-11-25 08:12] 92lleo commented on #61
does it work for you if you try it in a browser or whatsapp desktop? Do you have the latest whatsapp version on your phone?

[2021-11-25 08:13] 92lleo commented on #62
Hi, looks like this might be fixed with #52
I'll try on my phone. What phone/screen ratio do you have?

[2021-11-25 12:48] Premjit-Chowdhury commented on #62
My phone name is Asus zenfone max pro m1 , 5.99 inch screen size with 18:9 full view , 2mm slim bezel.

[2021-11-25 14:11] kaitou1412 commented on #61
Yes. I use it in browser for daily use
Yes. I keep it up to date

Is it possible to debug?

[2021-11-27 17:59] kaitou1412 commented on #61
I recorded scanning whatsapp to go

https://user-images.githubusercontent.com/5919461/143691778-a3919c66-bc03-42ea-a0bf-e48fad96744e.mp4

My WhatsApp Info
![image](https://user-images.githubusercontent.com/5919461/143691821-a4695d65-8dc2-45d2-bbf8-20b97bcaf1fc.png)

[2021-11-28 19:22] 92lleo commented on #62
#52 is not in any release yet, would be part of the next release. I'll build the version and do a full release, if that works for you then. eta: next few days

[2021-11-29 13:21] Premjit-Chowdhury commented on #62
Yeap waiting 😄 , and thanks for replys.

[2021-12-02 09:39] 92lleo commented on #56
@darkenedcolossal  actually since I have my new phone, I get this notification constantly (not only on WWTG, but also on browser/desktop). Seems phone releated, I don't know a fix yet

[2021-12-08 19:22] #60 closed

[2021-12-08 19:24] 92lleo commented on #61
Do you also have a non-business account to test? I have no clue on how to investigate without those devices/accounts

[2021-12-08 19:52] 92lleo commented on #62
#52 is in the latest release, but unfortunately it doesn't fix the cut out send button issue. Still investigating. why did you close the issue?

[2021-12-09 16:24] Premjit-Chowdhury commented on #62
Ohh i thought you fixed it in previous update.

[2021-12-13 16:03] Minionguyjpro opened #63 "Mobile push notifications"
Make it possible to get mobile push notifications like you get desktop notifications on web via pc. Sorry if this already exist. I'm new here.

[2021-12-13 20:22] 92lleo commented on #63
already exists ;)
duplicate of #4

[2021-12-13 20:22] #63 closed

[2021-12-14 07:11] Minionguyjpro commented on #63
I saw, but will it come? I'm now using this app on my Samsung tablet so i can chat from my tablet. It would be nice to have notifications support.

[2021-12-14 07:11] Minionguyjpro commented on #63
So i know when someone sends an message without having to start the app

[2021-12-14 07:12] Minionguyjpro commented on #46
I'm on Android 11 on my tablet.

[2021-12-14 07:13] Minionguyjpro commented on #11
True

[2021-12-14 07:15] Minionguyjpro opened #64 "Maybe publish to Play Store or any other stores?"
Maybe you can, but may you will not because it costs money. But maybe you can publish it then to other stores. Like the Samsung Galaxy Store, where you can publish apps free. Or Apkpure or any other APK site's.

[2021-12-14 07:19] Minionguyjpro opened #65 "Whatsapp call support"
May you can make it possible to call? Maybe this is not possible because it's the web version, but maybe you can add some like css or html to make it possible to call with someone. (Sorry if i post many suggestions, i always like to give suggestions.)

[2021-12-14 09:16] Minionguyjpro opened #66 "Website Caching for offline use"
Make it possible to save/cache the Whatsapp Web site so that you can see your messages offline. But then you cant send or save files.

[2021-12-14 19:53] 92lleo commented on #46
It works on android 11, but tooling is not at android 11 yet b/c of changes to storage permissions.

[2021-12-14 19:54] 92lleo commented on #63
well it comes when I have the time to do it or anyone else offers a PR. no ETAs.

[2021-12-20 19:09] teh404guy opened #68 "no page loads , not even login"
Its probably a problem with the app not being compatible with bromite system webview

[2021-12-21 19:26] 92lleo commented on #68
have you tried switching to android system webview / chrome webview just to try?
If you confirm that it's bromite webview, i'll look into it

[2021-12-21 21:51] teh404guy commented on #68
Alr will try tomorrow

[2021-12-21 22:08] teh404guy commented on #68
Nvm just updated webview tonight and it worked

[2021-12-21 22:08] #68 closed

[2021-12-22 14:23] keithnet opened #69 "Screen Size Issues"
Using 1.7.2 on a Samsung Galaxy Tab s7+. It's not properly sized in portrait mode. Works fine in landscape.

![20211222_081947](https://user-images.githubusercontent.com/35663116/147107377-03b62500-8c7f-4501-9fb0-68968ebf51ff.jpg)

[2021-12-23 10:07] Minionguyjpro commented on #69
I should also have this. I'm using a Galaxy A8.0 Tab. I think this also occurs on my device.

[2021-12-26 00:06] 92lleo commented on #69
Hi, thanks for your feedback!
Could be due to #52 having a bad impact on bigger screens, I'll look into it!

[2021-12-26 00:07] 92lleo commented on #66
Cache should currently be used by webview, but does not always work. I'll try to tweak it a bit, keeping this issue open.

[2021-12-26 00:08] 92lleo commented on #65
Currently this app only supports what's possible in the web app, not the desktop app. Once calls are supported in the web app, they should work out of the box here.

[2021-12-26 00:08] #65 closed

[2021-12-26 00:11] 92lleo commented on #64
App was published on playstore but taken down due to copyright stuff. As I don't want to go through that hassle again, I won't publish on playstore again.
Currently I'll only use github and fdroid to publish. Github anyways for version tracking, fdroid as it's automated and building its own versions after every github release.

So if you (or anyone else) was to create actions do publish to other m

[2021-12-26 00:14] 92lleo commented on #62
@Premjit-Chowdhury please create other issues for other problems or feature requests.
regarding those two:
1) there is already a workaround used to get the download file, which unfortunately does not have the file name
2) Not easily possible as not provided by whatsapp web

[2021-12-26 07:52] Premjit-Chowdhury opened #70 "One important feature request"
Just two feature requests to improve the user experience

1. After downloading any file (mainly pdf) the naming of that file is changed to ddmm.. format which some time irritates to find that file. So keep the real file name as sender send that file that would be beneficial.
2.  Make a radio button or check box to turn off auto downloading photos and videos. Because it consumes unwanted data.

[2021-12-26 07:55] #70 closed

[2021-12-27 05:34] notNSANE commented on #69
This happens to me on a normal phone, Galaxy A22.

[2022-01-02 20:06] waldhay80 opened #71 "QR code not showing"
Hi,

I just install the app on my lenovo tablet (andriod 5.1.1), but the QR code is not showing. So I can't connect whatsapp.

Thank you

[2022-01-03 13:35] 92lleo commented on #71
Hi,
- what app version did you install?
- what exactly does the app show?
- did it work with older versions?

[2022-01-03 18:32] waldhay80 commented on #71
I installed the last whatsapp web app available on fdriod v1.7.2
It only shows a chat icon istead of QR code
Didn't try older versions

[2022-01-04 07:12] Minionguyjpro commented on #70
Why you closed it?

[2022-01-04 07:14] Minionguyjpro commented on #64
Well, i can add it to Apkpure, which is an popular APK (Android Package) store.

[2022-01-04 07:15] Minionguyjpro commented on #65
Yes, i understand that.

[2022-01-05 12:36] Premjit-Chowdhury commented on #70
Because by mistake i opened same issue two times

[2022-01-06 22:28] 92lleo commented on #71
Can you pls attach a screenshot and then try an older version of the app?

[2022-01-26 06:04] Anonanon opened #72 "Screen size issue after in-app update"
1.7.2 had actually fixed this issue last year, but today I got an in-app banner asking me to update, and after that the screen size bug is back. It's weird because the app size is still 1.7.2, reinstalling the app didn't change anything.
![Screenshot_20220126-005531_1](https://user-images.githubusercontent.com/1048428/151111892-4661197d-2d7b-4826-ba10-982e78b16d38.png)

[2022-01-28 13:01] bammerlaan opened #73 "Cannot see any messages, only "Keep your phone connected ""
![Screenshot_20220128-135704_WhatsApp Web To Go](https://user-images.githubusercontent.com/3306437/151551104-647ebed4-512e-401a-9a03-babca4604ee5.jpg)
As in the attached screenshot, when I connect my tablet to my phone, I only see this and no messages.

I tried reconnecting the device, no dice.

The tablet is a Samsung SM-T590

[2022-01-28 13:13] raffaem commented on #25
I did it thanks to your suggestion. I am so happy right now! :)

The instructions in the link are a bit out of date.

Here how you can have WhatsApp on your PC:

1. Download [Android Studio](https://developer.android.com/studio)
2. Uncompress it, run `android-studio/bin/studio.sh`
3. Install using default options. It will install the Android SDK as well
4. Open it and create a virtual phone in Too

[2022-01-28 13:53] T-vK commented on #25
I've been able to run Android including WhatsApp using Docker in the past which is headless by default. I don't know which Docker image I used though and it's been at least 2 years.

[2022-01-28 14:37] keithnet commented on #73
Same.

Samsung Tab S7+

[2022-01-31 13:21] 92lleo commented on #72
Hi @Anonanon ,
thanks for the feedback. I got the same update prompt, but it's fine on my side. Let me check with diffrent phones.

[2022-01-31 13:21] 92lleo commented on #71
is it the same issue as #73 ? @waldhay80

[2022-01-31 13:23] 92lleo commented on #73
Hi @bammerlaan & @keithnet
you are on 1.7.2, right?

- Can you please install an older version and check if it works then?
- Are you using the "normal" wa web or the multi device beta?
- are you both using a vpn connection?

[2022-01-31 13:46] 92lleo commented on #73
Thanks for the quick feedback. Does 1.7.1 also work? would be good to know to narrow down the issue

[2022-01-31 13:50] keithnet commented on #73
Yes, 1.7.1 works too. Was worried it would have previously reported display issue (#69) . It doesn't.

[2022-02-02 03:29] Anonanon commented on #72
Thanks for the update, I'm on a Pixel 3 XL.

[2022-02-02 14:29] DaStivi commented on #73
i've got an Xiaomi Pad5,
with 1.7.2 i've only like 5mm of the contac list visible... not even seeing half of the profile pictures...

with 1.7.1 i'll see the contact list, but some parts of the chat windows is cut off on the right side...

all this on portrait mode!

in landscape mode everthing fits, in either versions!

using whatsapp web in edge browser (desktop view), portait mode also works fi

[2022-02-03 20:23] pawank8 commented on #71
![f20ef719-c653-47fa-a13d-9060936b19d0](https://user-images.githubusercontent.com/98984287/152422806-c59aa1de-b28d-4a21-84ed-9f8e18b1b783.png)

[2022-02-03 20:25] pawank8 commented on #71
It was working good till the latest version, after the latest version i dont see anything other than this on the screen. Hope the Op also stating the same issue.  i cleared the storage, uninstalled and installed old versions ( i tried all the version back till 1.6.3 and all behaving the same for me ).  Using Android 7.1.1 , Moto E4 :) . Nothing shows up when i open the app in my mobile other than

[2022-02-06 13:34] witneyman commented on #73
Also can confirm that switching back to 1.7.1 fixes the issue on my Lenovo Tab M10

[2022-02-13 12:53] jwalt commented on #61
I have the same problem. I enabled the new Beta Multi-Device feature of WhatsApp, using a plain normal WhatsApp account. Two laptops connect fine (Firefox on both of them), but WhatsappWebToGo does not.

What I tried:
1. Delete all data of WWTG in the settings, making it a brand new install
2. Open WWTG, get the QR code, zoom a bit b/c its too small for the other device
3. Go through the menus in

[2022-02-13 21:56] 92lleo commented on #61
Hi @jwalt
thanks for the details. Which version were you using? Have you tried 1.7.1? might be connected to #73 which is only seen on 1.7.2

[2022-02-13 22:20] jwalt commented on #61
Unfortunately, this didn't change anything. 1.7.1 and 1.7.0 behave the same. Using the old non-beta mode used to work fine.

Are there any connections supposed to show up except for web.whatsapp.com port 443? Using NetGuard to log connections, that is the only one registered. After the scanning attempt, a while later, a second connection goes to "crashlogs.whatsapp.com".

This is a LineageOS 18.1

[2022-02-14 07:55] 92lleo commented on #61
I have to check the connections with my phone.

two other ideas:
* do you see the toast-popup "WAWeb has to be reloaded to keep the app running"?
* Is your android webview up to date? (https://play.google.com/store/apps/details?id=com.google.android.webview if you use google play)

other than that one last possibility would be to use a special version that logs all console messages. the connection

[2022-02-14 17:54] 92lleo commented on #61
Just tested with an android 11 virtual device and two whatsapp web beta phones (Android and iPhone) and app version 1.7.2. I could connect to wa web in all attempts, which makes it hard for me to investigate further.

[2022-02-18 09:44] aklecks opened #74 "QR Code not scannable"
Since a week I haven't been able to scan a new code. Worked fine previously, now I switched back from LineageOS to MIUI.

[2022-02-18 21:09] jwalt commented on #61
I updated the webview component (before: 88.* after: 98.* or somesuch), but that didn't change anything.

Is there a way to extract javascript warnings/messages/log?

[2022-02-18 22:40] 92lleo commented on #61
@jwalt thanks for the webview info.
Can you please check the apk attached? It's the same base as 1.7.2, it only gives you the ability to store urls the app tires to call and all console messages. You can get them by pressing the "about" button in the side menu.
You can send the logs to android@kuenzler.io or just paste them here.

[wawtg-github-issue-61.zip](https://github.com/92lleo/WhatsappWebTo

[2022-02-20 19:53] 92lleo commented on #74
Hi, thanks for your feedback. What exactly is the issue? Which phone are you on and which app version?
Is it maybe #61 or #71 ?

[2022-02-21 09:07] aklecks commented on #74
Hi, thank you for the quick response and for your otherwise great app! My phone is a
 Xiaomi POCO F3 and i'm on MIUI 12.5.2 with no google play services. (Signature Spoofing is not up and running yet).
 The App version is 1.7.2.
 Before I was on LineageOS with some Signature Spoofing (some apps were spoofed some weren't) and on the same app version.
Unfortunately it is neither of the two issues. T

[2022-03-07 18:08] 5ham5h33r opened #75 "Portrait Mode Scaling"
After the latest update 1.7.2, the app is unusable in portrait mode on Galaxy Tab S8 (and I assume same on other similar sized devices). The chat screen is entirely cropped off and only "WhatsApp Web" page (that's on the right of the screen in landscape mode is visible.
![Screenshot_20220307-233655_WhatsApp Web To Go](https://user-images.githubusercontent.com/20884345/157092464-99a5e24d-2dfc-48c5-

[2022-03-09 17:56] 92lleo commented on #75
Thanks for your feedback.
Known issue, best is to revert to previous version until the next update

[2022-03-09 21:08] bonzio opened #76 "Hide Logout button"
Hi,

I often accidentally logged out from the app whenever I want to refresh the messeges. Could you put the "Logout" button away from the main focus? The current placement is really close to the "Reload" button and it's also top above the other buttons. Which will lead to accidental logout. In addition to that, it gives impression that logout is the main feature of the menu.

![IMG_20220310_05103

[2022-03-12 09:02] Minionguyjpro commented on #76
Also may add an option to use CSS to hide the ``logout`` button when WhatsApp is loading.

[2022-03-16 01:54] nikunjsingh93 opened #77 "App does not work(change windows client)"
![SmartSelect_20220315-215319_WhatsApp Web To Go](https://user-images.githubusercontent.com/31995471/158501123-6c6717ee-3909-4d47-b8d7-36f79330b6ff.jpg)

[2022-03-17 23:16] llabusch93 commented on #77
Yep, same here...

[2022-03-21 18:03] jwalt commented on #61
Sorry for the long wait, I did have some problems. I could not get your build to install on my old phone at all. I only got an unspecified installation error.

Now I have a new phone, again running LineageOS 18.1, but this time it is up to date with the latest patch. On the new phone, WAW2G Multi-Device beta works without problems.

The main difference (besides completely different hardware) reall

[2022-03-21 22:51] felixsanz commented on #61
can't scan it here also. happens just the same

[2022-03-29 13:44] 92lleo commented on #77
Hi, thanks for your feedback. Seems to be a more widespread problem. Unfortunately I cannot reproduce it with my devices until now

pls send me the following details:

- app version
- does it work with an older version (check releases tab)?
- phone android version
- phone model
- if webview is up to date (https://play.google.com/store/apps/details?id=com.google.android.webview)
- does the app have

[2022-03-29 13:45] 92lleo commented on #76
Hi, thanks for your feedback.
I'll move the Logout button further down in the next release and also add an "are you sure" popup to prevent unwanted logouts

[2022-03-30 07:50] aklecks commented on #74
Started working 3 days ago. All good now!

[2022-03-30 09:13] 92lleo commented on #74
interesting :D do you know what changed?

[2022-03-30 09:27] aklecks commented on #74
nope, no idea, did you release a new version?

[2022-03-30 09:33] 92lleo commented on #74
no, still 1.7.2. I guess an android webview update oder wa web internal update fixed it - still strange.
Anyway, glad it works for you now!

[2022-03-30 09:33] #74 closed

[2022-04-07 10:21] AnthonyKoueik opened #78 "webView evaluateJavascript is crashing when injecting script on Android 11 and 12 Devices"
Im trying to inject javascript using **mWebView.evaluateJavascript** its crashing on android 11 and 12
but it's running normally on older devices

`2022-04-06 22:24:41.450 29689-29689/io.kuenzler.whatsappwebtogo E/chromium: [ERROR:aw_browser_terminator.cc(123)] Renderer process (29717) crash detected (code 5).
2022-04-06 22:24:41.459 29689-29689/io.kuenzler.whatsappwebtogo A/chromium: [FATAL:crash

[2022-04-07 12:58] 92lleo commented on #78
Hi,
pls give me a bit more insight on what you're trying to do.

[2022-04-07 17:03] AnthonyKoueik commented on #78
@92lleo basically Im trying to inject those https://github.com/tomer8007/whatsapp-web-incognito
can you tell me the right way to do it please

[2022-04-08 11:22] dadandalive commented on #54
I'm experiencing exactly the same issue as the one described by @ronz91.  Both with 1.7.2 and 1.7.1.

In my case however WiFi is not at fault.

When accessing web.whatsapp.com in Firefox on the second device, at first the reloading circle appears along with the request to scan the barcode again on the primary device, but then immediately afterwards on the second device a new QR code appears, the r

[2022-04-08 12:19] 92lleo commented on #54
@dadandalive
pls check/report the following things:

- phone android version
- phone model
- if webview is up to date (https://play.google.com/store/apps/details?id=com.google.android.webview)
- does the app have the storage permission?

[2022-04-08 12:47] dadandalive commented on #54
Ouch, the version was ancient (55.0.2883.91). I have now updated it to the latest version (99.0.4844.88) and login works!

You may -again, sorry- close this ticket.

Thanks for your rapid reaction and help!

[2022-04-08 13:02] 92lleo commented on #54
thanks for the feedback! glad it works now

[2022-04-08 19:13] Abhijeetbyte commented on #75
Yeah version**1.7.0**is fine

[2022-04-09 17:14] #75 closed

[2022-04-09 17:14] #76 closed

[2022-04-11 07:50] dadandalive opened #79 "Images selected from the Gallery are sent out as blank images"
When sending out an image (by selecting the paperclip icon, and then the purple image circle shape icon, and then selecting an image from the gallery), it is sent out as a blank image. Already immediately after selecting the image and prior to sending it off, when shown inside the page where a text caption can be added (and other pictures could be added), it is shown as a blank rectangle. Some iss

[2022-04-11 13:43] 92lleo commented on #79
@dadandalive are the pictures actually sent blank or is it just the preview that's blank?

[2022-04-11 14:13] dadandalive commented on #79
Pictures are actually sent blank.

[2022-04-12 10:14] 92lleo commented on #77
@nikunjsingh93 @llabusch93
any news? have you tried an older version, eg. 1.7.1? If this did not fix the issue, pls answer the above questions

[2022-04-12 16:19] nikunjsingh93 commented on #77
Hi @92lleo When i tried in my different tablet it worked fine. Maybe it is fixed now

[2022-04-16 10:40] dadandalive commented on #79
:frowning_face: Issue got 'automagically' resolved. I tried de-installing and reinstalling, but I can no longer reproduce the issue. No Webview update had been done meanwhile.

[2022-04-19 16:24] 92lleo commented on #79
There are some issues that go away magically. Maybe it was a general whatsapp web problem that got resolved on whatsapp's side. Please reopen, if it occurs again

[2022-04-19 16:24] #79 closed

[2022-04-30 13:00] blogdemoi opened #80 "Where are the downloads?"
Hi,

Could you tell me where are the files downloaded in my phone? I click on download but can't find the files.

Thank you.

[2022-05-04 19:35] 92lleo commented on #80
Hi,
do you have enabled the storage permission for the app?
If yes, the download should open when clicking the download notification and be in your download

[2022-05-05 14:02] blogdemoi commented on #80
Hum, sorry for this. You were right I didn't enable the storage permission...

[2022-05-05 15:08] 92lleo commented on #80
No problem. Actually the app should ask you to allow the storage permission, but thats not working currently

[2022-05-05 15:08] #80 closed

[2022-05-23 11:10] marvinmai commented on #77
I'm experiencing the same issue on my Samsung Tab S7+. I can still use the app by putting it in pop up mode or in side-to-side view. It seems that the message overview bar is hidden when the display size of the app is too large. I attached a few screenshots.
![Screenshot_20220523-125352_WhatsApp Web To Go](https://user-images.githubusercontent.com/29154212/169806717-a6ebdfbc-90d7-4bd9-b612-4943f09

[2022-05-23 11:12] marvinmai commented on #77
I really hope you can solve that. It's the only good way to use whatsapp on my tablet, everything else is utter trash. :( I'd be so greatful.

[2022-06-26 20:12] voidplayer commented on #73
I dont know if im having the same issue but its similar

Im using multidevice

Its very similar screen, but mine said to keep my computer connected instead and a button to log out

Downgrading to 1.7.1 seems to have fixed it

[2022-07-04 07:30] alann-maulana commented on #72
Any update about this? I just found this issue recently on my phone

[2022-07-25 00:17] cellfdroid commented on #47
Well, technically it seems possible to use on same device as well. In case someone is tired of forced updates every 6 months or privacy policy popups.

If your device supports split screen put this app on top and whatsapp on bottom half. Then take screenshot and copy it to pc or other device. Using whatsapp in bottom half of screen scan qr code on pc screenshot.

[2022-07-26 23:21] WolfganP commented on #77
Same here. Samsung S6 lite tablet, android 12.

[2022-07-27 15:54] WolfganP commented on #77
I wonder if the lack of sidebar is the result of this commit https://github.com/92lleo/WhatsappWebToGo/commit/d4cc27d8cbe6e6ce8bc847728380bf4213092805 , as it seems the only one related to modify the view elements on screen (going from 1.7.1 to 1.7.2).

It seems there was an attempt to fix the tablets issue at https://github.com/92lleo/WhatsappWebToGo/commit/92005b59f4c984f3ce06a447b34500ab1c88b13

[2022-08-10 14:18] Greyf29 opened #82 "Downloaded media filename"
Hello, is there any way to make WhatsappWebToGo download a media and save the filename as is?

Right now WhatsappWebToGo seems to download and then rename the file into a format such as WAWTG_YYYYMMDD-HHmmSS.pdf / jpg
Year, month, date, hour, minute, second

If it's not too much trouble, I think it'd be optimal if it were to download the media with the original filename as it was sent to us / rece

[2022-08-11 07:03] Greyf29 commented on #82
Also cannot seem to download .xlsx (ms excel) file somehow.

[2022-08-13 12:35] cenjui commented on #77
Same issue for me on a Samsung Tab s6 lite. Just like marvinmai docking it fixes the issue for me and the app works perfectly as long as it's docked, thank you!

[2022-08-16 13:30] MicaelJarniac opened #84 "Page reloads every time I connect or disconnect a keyboard"
I have a Bluetooth keyboard, and every time I connect or disconnect it, the entire WhatsApp Web page reloads.

[2022-09-10 09:29] T0mu opened #85 "Hidden Appbar toggle"
Hi,
Maybe I am clueless but is there a way to toggle appbar visibility back on once you have hidden it?
In a previous closed issue  #58 you replied
" _Pull the hamburger menu from the left side_ "
But I can't get any, no matter what I try.
I solved it only by cleaning data and relinking account (and not toggling it, anymore!).
Btw: just the app I needed and I appreciate you open sourcing it! Thank

[2022-09-18 12:32] swaree opened #86 "Make app visible in Share menus"
In many apps, Share, Send To, or similar buttons (see picture) let you quickly share to other apps without needing to browse the file from the destination app. I think it'll be useful to have this as a feature; currently, the app doesn't appear in these menus.

![image](https://user-images.githubusercontent.com/13753165/190901857-4ad3802c-0263-4c0b-8747-c263aa46c5c2.png)

I don't know how this can

[2022-09-23 12:06] 92lleo commented on #85
Hi,
it's indeed a bit tricky, if you have android navigation by buttons, you should be able to swipe from left edge to the right. If you have gesture navigation, tap and hold the left edge, then swipe right. -> the hamburger menu should open
(not very intuitive though - no better idea yet)

[2022-09-23 12:09] 92lleo commented on #84
Hi @MicaelJarniac
The message "WA Web has to be reloaded to keep the app running" is showing when whatsapp tries to exit whatsapp web and redirect to the official whatsapp web page, which is what appens, when whatsapp web thinks it runs on a mobile phone. The keyboard events probably trigger this decision, I can try to block it, but I'm not very optimistic. When the reloading happens, it's indeed

[2022-09-23 12:14] 92lleo commented on #86
Hi @swaree
thanks for your Input. I have this on my todo, but it's not as easy as including it in an app you control yourself. I guess the only possibility is to fake drag-drop the file to the whatsapp chat - but then the correct chat needs to be open, which is not very user friendly/can be confusing. If I come up with an easier way, I'll add it. Maybe someone else also has another idea

[2022-09-23 12:23] 92lleo commented on #82
Hi @Greyf29
thanks for your feedback! The way the download currently works is a bit hacky; I don't have the info about the file name or the extension/file type. So I opted for the current datetime as filename, the file type /ext is determined by a lookup table from the mimeType of the file, so it can be wrong in certain cases. I'll look into the excel file issue

[2022-09-23 19:12] jacorizla opened #87 "Improve client to send to new numbers?"
This app is fantastic as it allows one to use WhatsApp without having the apk installed on their phone. A modest proposal: make use of the API trick to enhance the web client to send messages to new numbers without forcing one to hand over contacts to Meta.

This trick: https://api.whatsapp.com/send?phone=XXXXXXXXXXX where the Xs are replaced by the country code and telephone works well on the web

[2022-09-23 19:19] WolfganP commented on #87
+1 Very useful feature if it can be implemented...

[2022-09-23 19:42] 92lleo commented on #87
Hi @jacorizla
Let me check, If it works for whatsapp web also it should be easy to add it

[2022-09-29 21:27] somini commented on #46
Personally, the only reason I use this app is to allow me to not give any permissions to the main WhatsApp app, and still send and receive media.
Requiring the storage permission on this is counter productive, might as well use the main app in that case, but if this is technically difficult I understand.

[2022-09-30 07:54] 92lleo commented on #46
Understood. The storage permission is only required for downloading media to the device for sharing/storing etc. You can view media in the app also with storage permission not given (I guess you already know). Allowing download without a storage permission of any kind (there are special permissions in android 11+, which still need to be implemented) would require further logic and views in the app

[2022-09-30 15:11] somini commented on #46
Yes, that's the main reason I use it, many thanks for releasing this.

Personally I think it's fine to just download the media to the app-specific folder, without the storage permission.

I don't know enough about Android development, but I though the app-specific folder needed no storage permission? It's stuck on some weird `Android/data/...` folder, but at least you can access the files. I agree

[2022-10-04 06:27] rrthattil2 opened #88 "Adding other apps that have a proper desktop site"
Is it possible to add meet.google.com to this app?

[2022-10-04 17:43] 92lleo commented on #88
Hi @rrthattil2
I had the same in mind, also for office.outlook.com and teams.microsoft.com
Maybe it's easier to wrap it in a general app. But then, it's just a browser if no other changes than user agent are needed.
otherwise you can just user a 3rd party browser that lets you change the user agent. For meet it's even enough to change to "desktop view" on chrome on android

[2022-10-06 11:28] timonsinrumbo opened #89 "folder for downloaded media"
Hello, in wich folder can i see the downloaded media and files?

thanks

[2022-10-10 20:38] 92lleo commented on #89
Hi @timonsinrumbo
You'll finde the Downloads in your "Downloads" folder on the internal storage. Downloads only work if you have given the "Storage" permission manually (see #46)

[2022-10-11 11:51] S7venLights commented on #62
A related comment, if keyboard is not blocked, the attachment menu doesn't work… It pops up and drops away immediately.

[2022-10-12 23:58] edent opened #90 ""Waiting for this message. Check your phone.""
I installed WebToGo and the official WhatsApp app. I scanned the WebToGo code into WhatsApp and connected them. Then I uninstalled the official WhatsApp client.

A friend sent me a message, and it displays this error;
![Waiting for this message. Check your phone.](https://user-images.githubusercontent.com/837136/195468725-dca540d7-9632-478e-82c9-1cc15cdfe4fa.png)

My reply was sent to the recipien

[2022-10-13 16:20] 92lleo commented on #90
Hi, this is a general whatsapp web issue with multi device beta. whatsapp web / your phone need to exchange their keys for you to see the message in whatsapp web. This does not work immediately sometimes. If it still doesn't work, I'd suggest to re-connect whatsapp web.
Nothing I can do on the app side unfortunately

[2022-10-13 16:20] #90 closed

[2022-10-14 06:45] Brio96 opened #91 "Cant open rare camera."
Hi
Thanks for such a nice app really useful, was looking for something like this.
I just cant figure out how to enable rare camera to take photos and send someone. Whenever i click on camera button it opens selfie camera and theres seems to be no option to change it to rare.
So if its possible pls help.
Thanks for the app, really appreciate it.

[2022-10-14 07:02] Brio96 opened #92 "Does the pics gets downloaded to phone memory?"
Hi
Just wandering when we use this app (or just whatsapp web itself), does the pics gets downloaded or they are just shown to us temporarily and like stored in some catche memory or something.
I am asking this bcoz, one of the reason to use this app is that i dont want to get my gallery or phone memory used with all the pics that whatspp downlods. So its better this way,
But can someone(wid skills

[2022-10-14 07:10] Brio96 opened #93 "Cant select multiple pics to send at once."
How to select multiple pics at once.
I am unable to do so.
Only way is to first add one pic then it shows a plus sign to add more photos (again one by one) before sending.

[2022-10-16 19:16] 92lleo commented on #93
Hi,
I can check if I can change the filechooser to accept multiple files.
-> left open

[2022-10-23 09:58] eliezer700 opened #94 "Translate to hebrow"
How do i translate the app to my language (hebrow)

[2022-10-24 18:02] martin-braun opened #95 "Link WhatsappWebToGo with WhatsApp on a different user profile? - Foreground Service option might help"
I'm using GrapheneOS, created multiple users and installed WhatsApp through the Aurora Store on a secondary user profile. Now I wish to handshake this app on my primary user profile with the official WhatsApp on my secondary user profile.

I take a screenshot of the QR code in WhatsappWebToGo and share it to my Saved Messages in Telegram.
 I switch to my secondary profile and I hit "Link new devic

[2022-10-25 10:48] voidplayer opened #96 "Cant scan qr code"
Im using whatsapp and whatsappwebtogo to the latest version

I havent been able to log in for a week

whatsapp cant open the qr code generated

If i open it on a browser it works fine, but in this app, it just do the attempt and silently fails. It reloads a different qr code a few times until it finally gives up

I tried streaming the qr code to a monitor to rule out any crack my screen could have

[2022-10-25 11:13] voidplayer commented on #96
Okay cleaning app data fixed it ;)

It ask you to check if theres a valid connection very frequently so you I have to relogin very frequently too

[2022-10-25 11:13] #96 closed

[2022-10-26 19:08] AdityaPratapSinghR opened #97 "Hi, Please check this."
This App has implemented Whatsapp web in such a way that it's like real Whatsapp. Here is the link:
https://play.google.com/store/apps/details?id=whatsapp.web.whatscan.whatsweb.qrscan

Is it possible to do it like this? This has a back button and send button and a separate chat section.
Please tell me if it's possible like injecting some JS code. I tried to find it but I don't know much about JS.

[2022-11-03 05:44] Brio96 commented on #91
@92lleo
Hi can u pls tell me how i can open rare camera. Its really important for me. Thanks

[2022-11-06 19:09] 92lleo commented on #91
Hi @Brio96
Whatsapp is loaded within androids webview. It's not possible to change webview's selected camera.

[2022-11-06 19:09] #91 closed

[2022-11-06 19:10] 92lleo commented on #97
Hi @AdityaPratapSinghR
#81 is doing this, I just need to include it into next build

[2022-11-07 14:23] AdityaPratapSinghR commented on #97
Hi, Thanks a lot.

[2022-11-11 06:24] edent opened #98 "Latest version logged me out"
Love the app and have been using it most days for the last month.

Today, it reloaded to get the latest version and presented me with a login QR code.

Anyone else have this happen? Is this a regular occurrence?

Thanks

[2022-11-14 05:52] Brio96 commented on #91
@92lleo can there be any way around this problem like selecting photo option from the attachment button instead of camera option and then when the file chooser opens, there can be some sort of camera option which can open my main camera or some third party camera app so that then i can switch my rare camera.
Thanks

[2022-11-14 05:53] Brio96 commented on #92
@92lleo
Any idea?

[2022-11-14 16:10] Improver2000 opened #99 "No notifications?"
Unfortunately I did not get any notifications for new messages.  Is this normal?

I just get a very silent <ping> but no pop up/ android notification.

Anyway a very nice piece of software 😃 .

[2022-11-16 19:45] 92lleo commented on #97
closing this, please refer to #81 for updates

[2022-11-16 19:45] #97 closed

[2022-11-16 19:46] 92lleo commented on #91
you can take a picture and select it from file chooser. no other options currently

[2022-11-16 19:48] 92lleo commented on #92
Hi @Brio96
the pics are stored in the webviews internal cache and removed if you delete the appdata or log out in the app. If you download them, they will be stored in your download directory permanently.
Pictures could be extracted if you have the tools. (But also anything on your phone can be extracted, if you have the proper tools ;) )

[2022-11-16 19:49] 92lleo commented on #99
Hi, see #63 #4
thanks for the feedback :)

[2022-11-16 19:49] #99 closed

[2022-11-16 20:49] edent commented on #98
Yeah, the app opened, WhatsApp said it was reloading to a new version. And then it asked me to log in again.

Not to worry - I'll sign in again.

[2022-11-16 20:49] #98 closed

[2022-11-18 01:14] Raveenariya opened #100 "Unable to download report"
Hello,
My issue is I'm trying to download the report in the Request Account Info , but the option is not working. Please fix this for me..

[2022-11-20 11:07] zpunout opened #101 "QR code not recognised when in dark mode"
Tried to scan the QR code after setting the display to dark mode, but the other phone couldn't recognise it.

Light mode works fine

Steps to reproduce:
1. Fresh install WhatsApp Web To Go
2. Set display to dark mode
3. Attempt to link device with QR code in WhatsAppWTG with camera on other device running official WhatsApp (by Meta)
4. QR code will not be recognised

[2022-11-28 13:44] shuvashish76 commented on #101
Same issue.
Official WhatsApp v2.22.23.84 on Samsung J7 Prime, WhatsappWebToGo v1.7.3 (with dark mode) on Moto G71 5G.